<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="redhat.org.ipark" >

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReservationsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_reservations" />
        <activity android:name=".RewardsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_rewards" />
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"/>
        <activity android:name=".SavedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_saved" />
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_search" />
        <activity android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UpcomingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BookActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".VehiclesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_vehicles"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_help" />
        <activity android:name=".FAQActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_faq" />
        <activity android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_account" />

        <activity android:name=".ImagePickerActivity" />
        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>