<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="redhat.org.ipark" >

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReservationsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_reservations" />
        <activity android:name=".RewardsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_rewards" />
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"/>
        <activity android:name=".SavedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_saved" />
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_search" />
        <activity android:name=".DetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UpcomingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BookActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".VehiclesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_vehicles"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
        <activity android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"/>
    </application>

</manifest>